*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav.navbar{
    display: flex;
    align-items: center;
    padding: 20px 40px 0;
}

.navbar_ul{
    display: flex;
}

.nav-link {
    text-transform: capitalize  ;
    font-size: 1rem;
    color: #6d6d6d;
    font: bold;
    cursor: pointer; 
    padding-left: 40px;
}

.nav-link:hover{
    color:#fff;
    transform: scale(1.2);
    transition: 1.2s ease;
}

.off-canvas {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    background-color: #333;
    right: 0;
    top: 88px;
    width: 0;
    overflow-x: hidden;
    height: 100vh;
    justify-content:space-around;
    align-items: center;
}

.off-canvas a{
    text-decoration: none;
    font-size: 1.5rem;
    color:#6d6d6d;
    text-transform: capitalize;
}
.off-canvas a:hover {
    color:#fff;
    transition: color 1.2s ease;
}

.bars-icon{
    color:#6d6d6d;
    font-size: 2.2rem;
    cursor: pointer;
    display: none;
}

.bars-icon:hover{
    color: #fff;
    transition: color 1.2s ease;
}

.x-icon{
    position: absolute;
    color:#6d6d6d;
    font-size:2.2rem;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.x-icon:hover {
    color: #fff;
    transition: color 1.2s ease;
}


.is_active{
width: 30%;
}

/* ---Media queries  */

@media(max-width:1200px){
nav.navbar{
    padding:30px 20px ;
}


}

@media (max-width:991px) {
nav.navbar{
    padding: 16px;

}
.nav-link {
    padding-left: 23px;
}
}


@media(max-width:768px){

nav.navbar{
    padding: 10px;
}


.bars-icon{
    display: flex;
}
.navbar_ul{
    display: none;
}
.navbar button{
    display: none;
}
    

    
 
}

@media(max-width:576px){
nav.navbar{
    padding: 4px;
}
}


